# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# PyCharm / JetBrains
.idea/

# VS Code
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Environment variables
.env
*.env.*

# Databases
*.sqlite3
*.db

# MyPy / Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling data
.prof

*.pdf